<!DOCTYPE html>  
<html>  
  <head>
    <title>SRRWaranty</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> --><!-- load bootstrap css -->
     <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> --> <!-- load fontawesome -->

        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>SRRWaranty</title>

<link rel="apple-touch-icon" href="../static/images/srrlogo.png">
<link rel="apple-touch-icon" sizes="152x152" href="../static/images/srrlogo.png">
<link rel="apple-touch-icon" sizes="180x180" href="../static/images/srrlogo.png">
<link rel="apple-touch-icon" sizes="167x167" href="../static/images/srrlogo.png">
<link rel="icon" type="image/png" href="../static/images/srrlogo.png"/>
     <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="static/js/jquery.js"></script>
   <style>


body {
	background: #eee !important;

}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

  </style>