<% include partials/head %>  
<script>
$(document).ready(function () {

});
</script>
</head>
<body>

    <div id="wrapper">
<% include partials/nav %> 
       

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            SRR Waranty <small></small>
                        </h1>
   
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <i class="fa fa-info-circle"></i>  
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div  class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary"> 
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <a href="/acard" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Register</a>
                                        <a href="/activitylist" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Activity</a>
                                        <a href="/support" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Support</a>
                                        <a href="/logout" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-log-out"></span> <br/>Logout</a>
                                       
                                    </div>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>

               
            </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<% include partials/script %>  
  </body>
</html>  