<% include partials/head %> 
<script>

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

$(document).ready(function () {
 var follow_date = new Date();
 			
 $(function () {
		$('.input-group.date').datetimepicker({
			defaultDate:follow_date,
      format: 'DD/MM/YYYY',
		});
            });
//SET First Date to query
var firstDay = moment().startOf('month').format('DD/MM/YYYY');
$('#txt_from').val(firstDay);
$('#txt_to').val(moment().format('DD/MM/YYYY'));

//Set Query value
var txt_from=getParameterByName('txt_from');
var txt_to=getParameterByName('txt_to');
var user = getParameterByName('user');
var name = getParameterByName('name');
$('#txt_from').val(txt_from);
$('#txt_to').val(txt_to);
$('#hd_user').val(user);
$('#h1_header').html('รายการลงทะเบียนลูกค้า -'+decodeURIComponent(name));
            getdata();
            $('#btn_search').click(function(){   
                 getdata();   
            });

});


function getdata(){
$.ajax({
    url: '/reportcustomer/load',
    async:true,
    data:{userid:$('#hd_user').val(),txt_from: $('#txt_from').val(),txt_to: $('#txt_to').val()},
    error: function() {
      $('#info').html('<p>An error has occurred</p>');
    },
    success: function(data) {
       bindtbl(data);
    },
    type: 'GET'
    });

}

function bindtbl(data){
var idata=JSON.parse(data);
var tbl=$('#tbl_report tbody');
tbl.empty();
console.log(idata);
if (idata.length==0){
 tbl.append("<tr>\
                                <td colspan='4'>ไม่พบข้อมูล</td>\
                                 </tr>");

}else{
    var view="";
    for (var i = 0; i < idata.length; i++) {
        tbl.append("<tr>\
                                 <td>"+idata[i].name+"</td>\
                                 <td>"+idata[i].mobile+"</td>\
                                 <td>"+moment(idata[i].dateofRegister).format('DD/MM/YYYY hh:mm')+"</td>\
                                 <td>"+moment(idata[i].LastServicedate).format('DD/MM/YYYY hh:mm')+"</td>\
                                 </tr>");  
    }
}
}


function View(id){

    console.log(id);
}


</script>

<style>

</style>


</head>
<body>

<div id="wrapper">
<% include partials/nav %>  
       

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
		                    <h1 class="page-header" id="h1_header">
                        </h1>
                    </div>
                </div>
                  <div class="row">
                    <div class="col-lg-5">
		                    จากวันที่
                            <input type="hidden" id="hd_user" value="">
                            
                    </div>
                    <div class="col-lg-5">
		                    ถึงวันที่
                    </div>
                     <div class="col-lg-2">
		                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
		                   <div class="input-group date">
				            <input type="text" class="form-control" name="txt_from" id="txt_from" required="required"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				            </div>
                    </div>
                     <div class="col-lg-5">
		                   <div class="input-group date">
				            <input type="text" class="form-control" name="txt_to" id="txt_to" required="required"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				            </div>
                    </div>
                     <div class="col-lg-2">
		                   <div class="input-group">
				            <input type="button" id="btn_search" class="btn btn-info" value="ค้นหา">
				            </div>
                    </div>
                </div>



                 <div class="row">
                    <div class="col-lg-12">
                        <table id="tbl_report" class="table">
                        <thead>
                        <tr>
                        <td>ชื่อ-สกุล</td>
                        <td>เบอร์โทร</td>
                        <td>วันที่ลงทะเบียน</td>
                        <td>วันที่ล่าสุด</td>
                        </tr>
                        </thead>
                        <tbody></tbody>
                        </table>
                    </div>
                </div>
                 
                
               
            </div>
        </div>

        
        <!-- /#page-wrapper -->

</div>
    <!-- /#wrapper -->
<% include partials/script %>  
  </body>
</html>  