<% include partials/head %> 
<script>
Date.prototype.addDays = function(days) {
    this.setDate(this.getDate() + parseInt(days));
    return this;
};
$(document).ready(function () {

    $("#div_customer").hide();
    $("#div_service").hide();
    $("#checkresult").html('');
 $("#btn_search").click(function(){
     $("#div_customer").hide();
     $("#div_service").hide();
      getcustomer();
    });
});
function getcustomer()
{
    $.ajax({
            url:  '../checkwaranty/getcustomer',
            type: 'POST',
            dataType: 'JSON',
            data: JSON.stringify({ searchtext:$("#txt_search").val() }),
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var idata=jQuery.parseJSON(JSON.stringify(data));
                if (idata.length==0){
                    $("#checkresult").html('ไม่พบข้อมูล กรุณาค้นหาใหม่อีกครั้ง');
                }else{
                    $("#name").html(idata[0].fullname);
                    $("#mobile").html(idata[0].mobile);
                    getcar(idata[0].id);
                    $("#div_customer").show();
                    $("#checkresult").html('');
                }
                     
                }
            }
        );
}
function getcar(cus_id)
{
    $.ajax({
            url:  '../checkwaranty/getcar',
            type: 'POST',
            dataType: 'JSON',
            data: JSON.stringify({ cus_id:cus_id }),
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
               var idata=jQuery.parseJSON(JSON.stringify(data));
               var dnow=new Date;
                if (idata.length==0){

                }else{
                    $("#div_service").show();
                    var tbl=$('#tbl_service tbody');
                     tbl.empty();
                     var car='';
                     var status='';
                     for (var i = 0; i < idata.length; i++) {


                        if (car==''){
                            car=idata[i].cardetail;
                                tbl.append("<tr>\
                                <td style='background-color:#fcfcfc' colspan='6'>"+idata[i].cardetail+' '+idata[i].licenseNo+"</td>\
                                 </tr>");
                                 tbl.append("<tr>\
                                 <td style='background-color:#fffac9' class='text-center'>วันที่</td>\
                                 <td style='background-color:#fffac9' class='text-center'>สาขา</td>\
                                 <td style='background-color:#fffac9' class='text-center'>สินค้า</td>\
                                 <td style='background-color:#fffac9' class='text-center'>จำนวน</td>\
                                 <td style='background-color:#fffac9' class='text-center'>วันหมดการรับประกัน</td>\
                                 <td style='background-color:#fffac9' class='text-center'>สถานะ</td>\
                                 </tr>");
                        }else if (car != idata[i].cardetail){
                             car=idata[i].cardetail;
                             tbl.append("<tr>\
                                 <td style='background-color:#fcfcfc' colspan='6'>"+idata[i].cardetail+' '+idata[i].licenseNo+"</td>\
                                 </tr>");
                                 tbl.append("<tr>\
                                 <td style='background-color:#fffac9' class='text-center'>วันที่</td>\
                                 <td style='background-color:#fffac9' class='text-center'>สาขา</td>\
                                 <td style='background-color:#fffac9' class='text-center'>สินค้า</td>\
                                 <td style='background-color:#fffac9' class='text-center'>จำนวน</td>\
                                 <td style='background-color:#fffac9' class='text-center'>วันหมดการรับประกัน</td>\
                                 <td style='background-color:#fffac9' class='text-center'>สถานะ</td>\
                                 </tr>");
                        }

                        if (idata[i].status== '')
                        {
                            //check in waranty
                            if (moment(idata[i].eow)>=moment(dnow))
                            {
                                status="<span class='label label-default'>อยู่ระหว่างรับประกัน</span>";
                            }else{
                                status="<span class='label label-default'>หมดอายุรับประกัน</span>";
                            }

                        }else{
                             if (idata[i].status=='OFFICER_SENDNEW'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-danger'>เจ้าหน้าที่รับสินค้าเคลม</span></a>";
     }else if(idata[i].status=='WAREHOUSE_RECEIVED'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-warning'>กำลังดำเนินการ</span></a>";
     }else if(idata[i].status=='WAREHOUSE_SEND'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-warning'>กำลังดำเนินการ</span></a>";
     }else if(idata[i].status=='SUPPLIER_RECEIVED'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-warning'>สินค้าถึงผู้ผลิตแล้ว</span></a>";
     }else if(idata[i].status=='SUPPLIER_REPLY'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-info'>แจ้งผลการเคลม</span></a>";
     }else if(idata[i].status=='warehouse_RECEIVED_SUP'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-warning'>กำลังดำเนินการ</span></a>";
     }else if(idata[i].status=='warehouse_REPLY'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-warning'>กำลังดำเนินการ</span></a>";
     }else if(idata[i].status=='OFFICER_RECEIVED'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-warning'>กำลังดำเนินการ</span></a>";
     }else if(idata[i].status=='OFFICER_APPOINTMENT'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-warning'>นัดรับสินค้าเคลม</span></a>";
     }else if(idata[i].status=='FINISH'){
        status="<a href='../claimstep/"+idata[i].claimid+"' target='_blank'><span class='label label-success'>ปิดการเคลม</span></a>";
     }

                        }

                        // เพิ่มรายการใช้บริการ
                        tbl.append("<tr>\
                                 <td class='text-center'>"+moment(idata[i].servicedate).format("DD/MM/YYYY")+"</td>\
                                 <td>"+idata[i].branch+"</td>\
                                 <td>"+idata[i].product+"</td>\
                                 <td class='text-center'>"+idata[i].qty+"</td>\
                                 <td class='text-center'>"+moment(idata[i].eow).format("DD/MM/YYYY")+"</td>\
                                 <td class='text-center'>"+status+"</td>\
                                 </tr>");

                        
                     }
                }
                }
            }
        );
}

</script>
<style>
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        background-color:#fff;
        //margin: 0;
        //padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

     

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
       input:invalid {
    background-color: #FFAAAA;
}
    </style>
</head>
<body style="margin:0;">
<% include partials/pageheaderbanner %> 
 <div class="container" style="margin-top:5px;">
<div class="page-header" style="margin-top:0px;margin-bottom:0px;"><h2 style="margin-top:0px;margin-bottom:0px;">SRR Claim Tracking System</h2></div>
  
<div id="page-wrapper">
<h2>นโยบายการรับประกันคุณภาพ ผลิตภัณฑ์ยางรถยนต์</h2>
<h5><strong>การรับประกันคุณภาพประเภทผลิตภัณฑ์ยางรถยนต์</strong></h5>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. บริษัท ทรัพย์รุ่งเรืองยางยนต์ จำกัด จะรับประกันผลิตภัณฑ์ยางรถยนต์ทุกเส้นที่มีการซื้อกับทางบริษัท ทรัพย์รุ่งเรืองยางยนต์ จำกัด เท่านั้น</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. การรับประกันผลิตภัณฑ์ยางรถยนต์ ต้องนำใบเสร็จและใบรับประกันมาด้วยทุกครั้ง</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. การรับประกันผลิตภัณฑ์ยางรถยนต์ทุกเส้น จะรับประกันจากวันที่ติดตั้งยางรถยนต์ ระยะเวลารับประกัน 1 ปี หรือ 20,000 กิโลเมตร ***ยกเว้นยางค้างปี พนักงานขายจะแจ้งระยะเวลารับประกัน</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. การรับประกันสินค้ายางรถยนต์จะรับประกันโครงสร้างที่เกิดจากการผลิต (ยกเว้นใส่กับรถผิดประเภทจะไม่มีรับประกัน)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. การประเมินการชดเชยสินค้าประเภทผลิตภัณฑ์ยางรถยนต์ ใช้ระยะเวลาประมาณ 30-90 วัน </p>
<h5><strong>ยางรถยนต์ที่มีลักษณะดังต่อไปนี้ให้ถือว่าการรับประกันได้สิ้นสุดลงแล้ว</strong></h5>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. ยางเสียที่เกิดจากการถูกของแหลมคมบาดหรือตำ เช่น ตะปู แผ่นเหล็ก เศษแก้ว หรือยางเสียที่เกิดจากการกระแทกกับก้อนหิน ขอบถนน ขอบหลุม</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. ยางเสียที่เกิดจากกการใช้ลมยางไม่ถูกต้อง หรือใช้กะทะล้อไม่ถูกต้อง หรือ ใช้ยางใน ยางรองไม่ถูกต้องหรือจากการวิ่งโดยไม่มีลมยาง</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. ยางสึกหรอหรือผิดปกติ เนื่องจากการสูบลมยางไม่ถูกต้อง ไม่มีการสลับล้อ การใช้กะทะล้อไม่ถูกต้อง ความบกพร่องของช่วงล่าง ศูนย์ล้อ โช๊คอัพ ระบบเบรค ตลอดจนการไม่สมดุลของล้อหรือความบกพร่องของชิ้นส่วน</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. ยางเสียเนื่องจาก การใส่และการถอดหรือการประกอบไม่ถูกต้อง</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. ยางที่ใช้ขนาดยางไม่ถูกต้อง เล็กกว่ามาตราฐานของรถแต่ละรุ่น</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. ยางเสียหายสืบเนื่องมาจากการปะ-ซ่อม หรือการหล่อดอก</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. ยางเสียเนื่องจากการบวมหน้ายาง หรือลักษณะดอกยางไม่เท่ากัน เช่น กินข้างใดข้างหนึ่งมากกว่าอีกข้างหนึ่ง</p>
<br><br><br>
</div>
</div>
<% include partials/script %>  
  </body>
</html>  



